@charset "uft-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

/* 기본 스타일 */
html{
    font-size: 10px;
}
body{
    font-size: 1.4rem;
    font-family: 'Spoqa Han Sans', sans-serif;
    font-weight: 400;
    background: #fff;
    color: #181818;
}
/* 링크 스타일 */
a{
    color: inherit;
    text-decoration: none;
}
.header, .news, .company, .footer{
    width: 1200px;
    margin: 0 auto;
}
.header-bg{
    position: sticky;
    top: 0;
    background: white;
    opacity: 0.9;
}
.header{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.logo{
    width: 70px;
    height: 25px;
    margin-top:14px;
    font-weight: 900;
    font-size:3rem;
    color:#00b901;
}
.navigation{
    margin-left: 230px;
    width: 340px;
    height: 25px;
    margin-top:26px;
    font-size: 1.8rem;
}
.menu{
    display: flex;
    flex-direction: row;
}
.main-menu{
    padding-right:50px;
}
.sub-menu{
    position: absolute;
    top:80px;
    background: #00b901;
    display: none;
}
/* .sub-menu2, .sub-menu3, .sub-menu4{
    display: none;
} */
.sub-menu-detail, .sub-menu-text{
    display: inline-block;
}
.sub-menu-text{
    margin-right:30px;
}
.sub-menu-mission{
    background: khaki;
    position: absolute;
    top:27px;
    left:110px;
    padding: 10px;
    font-weight: 300;
    color: #777777;
}
.site-map{
    width: 70px;
    margin-left: 369px;
    color: #adadad;
    font-size:1.8rem;
    margin-top:27px;
    margin-right: 20px;
}
.change-lang{
    border:1px solid #c8c8c8;
    border-radius: 20px;
    width: 130px;
    height: 40px;
    margin-top:19px;
    text-align: center;
    padding-top:8px;
}
.visual{
    width: 100%;
    height: 610px;
    background: #e0e0e0;
    text-align: center;
    line-height: 100px;
    /* height: 200px; */
}
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    border-color: white;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    padding: 1px 7px 2px;
    background: transparent;
    width: 180px;
    height: 45px
}
.visual-sentence{
    padding-top: 200px;
    font-weight: 900;
    font-size: 4rem;
    color: white;
}
.mission-click{
    font-size:1.5rem;
    color: white;
}
.news-menu{
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    /* background: #000; */
    position: absolute;
}
.news-more{
    position: absolute;
    top:18px;
    left:1150px;
    color: #777777;
    /* z-index: 10000; */
    /* background: #00b901; */
    /* height: 52px; */
    /* line-height: 52px; */
}
.news-contents-group{
    position: relative;
    margin-top:50px;
    /* margin-bottom:50px; */
}
.news-headline{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 1.8rem;
}
.news-info{
    display:flex;
    flex-direction: row;
    margin: 8px 0;
    color: #00b900;
}
.news-info .news-date:nth-child(n+1)::after{
    content: "|";
    padding: 10px;
}
.news-contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 90px 0 50px 0;
}
.news-contents-detail{
    width: 47%;
    margin: 10px 0;
    padding:0 20px 0 0;
}
.company-bg{
    background: #f9f9f9;
    width: 100%;
    height: 200px;
}
.company{
    padding: 20px 0;
}
.company-heading{
    font-size:2rem;
    padding-top:28px;
}
.company-brief{
    font-size:1.5rem;
    color: #adadad;
    padding-top:13px;
}
.company-pr{
    display: flex;
    flex-direction: row;
}
.company-pr-detail{
    width: 25%;
    margin-right:80px;
}
.company-pr-detail-last{
    width: 25%;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    padding-top:50px;
}
.cc{
    width: 125px;
}
.guide{
    display: flex;
    flex-direction: row;
    margin-right:480px;
}
.footer .guide-nth:nth-child(n+1)::after{
    content: "|";
    padding: 10px;
}
.family-map{
    border:1px solid #c8c8c8;
    border-radius: 20px;
    width: 220px;
    height: 40px;
    text-align: left;
    margin-top:-10px;
    margin-left:10px;
    padding-top:5px;
    padding-left:20px;
    font-size:1.6rem;
}